{%extends "first_app/base.html"%}
{%block content%}
<h3>Musician Details:</h3>
<p>Musician Name: {{ musician.first_name }} {{ musician.last_name }}</p>
<p>Main Instrument:{{ musician.instrument }}</p>
<h3>Album:</h3>
<ul>
{%for album in musician.album_list.all%}
<li>{{album.name}}</li>
{%endfor%}
</ul>
<a href="{%url 'first_app:musician_update' pk=musician.pk%}" class="btn btn-warning btn-sm">Update</a><br>
<a href="{%url 'first_app:musician_delete' pk=musician.pk%}" class="btn btn-danger btn-sm">Delete</a>
{%endblock%}